img {
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery__item {
  cursor: pointer;

  &:nth-child(n + 7) {
    display: none;
  }
}

.gallery--second {
  .gallery__item {
    position: relative;

    &::before {
      display: none;
      content: 'Eще 3 фото';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: #fff;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        0deg,
        rgba(51, 51, 51, 0.5),
        rgba(51, 51, 51, 0.5)
      );
    }
  }

  .gallery__item:nth-child(6)::before {
    display: flex;
  }
}
