*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $color1;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Proxima Nova', Arial, sans-serif;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s;

  &[href] {
    cursor: pointer;
  }

  &.link:hover {
    opacity: 0.7;
  }
}

/* IMG */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

// Отключает переносы
.no-br br {
  content: '';

  &::after {
    content: '\0020';
  }
}
